# Database (not used yet in Phase 2, safe to leave)
DATABASE_URL=postgresql://orbirag:orbirag@localhost:5432/orbirag_db

# AI
GEMINI_API_KEY=your_gemini_key_here
DEEPGRAM_API_KEY=your_deepgram_key_here

# Vector store
DUCKDB_PATH=./vectors/orbirag_vectors.duckdb

#Semantic Scholar 
S2_API_KEY=Semantic_Scholar_API_key_here